{% extends "todos/base.html" %}


{% block content %}
    {% if todo %}
        <h1>Edit Todo</h1>
    {% else %}
        <h1>Create Todo</h1>
    {% endif %}

    <form id="multiActionForm" method='POST'>
        {% csrf_token %}
        Title: <input name="title" value="{{todo.title}}" required /> </br>
        Description: <input name="description" value="{{todo.description}}" required /> </br>

        {% if todo %}
            Completed: <input type="checkbox" name="completed" {% if todo.completed %} checked {% endif %} />
        {% endif %}

        {% if todo %}
            <button type="submit" onclick="submitForm('{% url 'todo_update' todo.pk %})">Edit</button>
        {% else %}
            <button type="submit" onclick="submitForm('{% url 'todo_create' %}')">Create</button>
        {% endif %}

    </form>
{% endblock %}

<script>
    function submitForm(actionUrl) {
        const form = document.getElementById('multiActionForm');
        form.action = actionUrl;  // Set the form action to the desired URL
        form.submit();             // Submit the form
    }
</script>